/*---Body---*/
body {
  margin: 0;
}
/*---Body---*/
/*---universal---*/
* {
  font-family: "Poppins", sans-serif;
}
/*---universal---*/
/*---header-start---*/
header {
  background: #f9f9f9;
  padding: 40px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  /* background: aliceblue; */
}
/*---logo---*/
.logo {
  float: left;
  width: 20%;
}
.logo img {
}
/*---logo---*/
/*---menu---*/
nav {
  width: 80%;
  float: left;
  text-align: right;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  text-align: right;
}
nav ul li a {
  color: #222222;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}
/*---menu---*/
/*---header-end---*/
/*---banner-section---*/
.banner-section {
  background-color: #f2f0f1;
}
.banner-section img {
  width: 100%;
}
/*---banner-section---*/
/*---blog-section---*/
.blog-section {
  /* background: #f2b91e; */
}
article {
  padding: 60px;
  background: #f2b91e;
}
article span {
  text-transform: uppercase;
  font-size: 20px;
  color: #003596;
}
article h2 {
  text-transform: capitalize;
  color: #282640;
  font-size: 18px;
}
article p {
  margin-top: 0;
  color: #272727;
  text-align: justify;
}
section {
  /* background: black; */
}
.left {
  float: left;
  width: 45%;
}
.left img {
  width: 100%;
}
.left span {
}
.left h1 {
}
.left p {
}
.right {
  float: right;
  width: 45%;
}
.right img {
  width: 100%;
}
.right span {
}
.right h1 {
}
.right p {
}
/*---blog-section---*/
/*---footer---*/
footer {
  background: #e6e6e6;
}
.copyright {
  color: #222222;
  float: left;
}
.copyright p {
}
/*--footer---*/
